# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysql]

socket				= /srv/mysql/var/run/mysql.sock

[mysqld]

skip-external-locking
explicit_defaults_for_timestamp

#
# * Basic Settings
#

user				= _mysql
pid-file			= /srv/mysql/var/run/mysql.pid
socket				= /srv/mysql/var/run/mysql.sock

port				= 3306
bind-address		= 127.0.0.1

basedir				= /srv/mysql
datadir				= /srv/mysql/var/data
tmpdir				= /srv/mysql/var/tmp

#
# * Fine Tuning
#

key_buffer_size		= 8M
max_allowed_packet	= 4M
thread_stack		= 256K
thread_cache_size	= 9

max_connections		= 100

query_cache_limit	= 1M
query_cache_size	= 1M

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

#
# * Logging and Replication
#

#general_log_file	= /srv/mysql/var/log/mysql.log
#general_log			= 1

log_error			= /srv/mysql/var/log/error.log

slow_query_log
slow_query_log_file = /srv/mysql/var/log/slow.log
long_query_time		= 15

#server-id			= 1
#log_bin				= /srv/mysql/var/log/mysql.bin
#expire_logs_days	= 30
#max_binlog_size		= 1000M
#binlog_do_db		= include_database_name
#binlog_ignore_db	= include_database_name

#
# * IMPORTANT: Additional settings that can override those from this file!
#

!includedir /srv/mysql/etc/conf.d/
